# Dependências
node_modules
npm-debug.log

# Build
dist
build

# Ambiente
.env
.env.*
!.env.example

# Git
.git
.gitignore

# VS Code
.vscode

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log
logs
*.log

# Arquivos temporários
tmp
temp
